---
import Layout from '../layouts/Layout.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
---

<Layout title="Projects | Ayush Madhav">
  <div class="min-h-screen">
    <div class="max-w-7xl mx-auto p-4 md:p-8 pt-12">
      <ProjectsSection />
    </div>
  </div>
</Layout>
